/* @import */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFFFFF;
    color: #000000;
    font-weight: 400;
}
img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header {
    margin-top: 40px;
    margin-bottom: 84px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__menu {
    width: 533px;
    display: flex;
    justify-content: space-between;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
}
.a__home {
    font-family: 'Gilroy-SemiBold';
    color: #F25822;
}


.main {
    margin-bottom: 162px;
}
.mainContent {
    display: flex;
    justify-content: space-between;

}
.mainContent__leftSide {
    max-width: 590px;
    margin-bottom: 162px;

}
.mainContent__leftSide h1 {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    margin-bottom: 17px;
}
.mainContent__leftSide p {
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    color: #888888;
    margin-bottom: 37px;
}
.mainContent__leftSide-buttons {
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: 'Gilroy-Bold';
    padding: 15px 35px;
    cursor: pointer;
}
.btnLeft {
    background: #F25822;
    border-radius: 50px;
    border: none;
}
.btnRight {
    color: #AAAAAA;
    border: none;
    background: #FFFFFF;;
}

.logotips {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
