/* @import (шрифт) */
/* Пример "Обнуления"  в файле reset.css" */

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./fonts/fonts/Gilroy-Bold.woff2');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./fonts/fonts/Gilroy-Medium.woff2');
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./fonts/fonts/Gilroy-Regular.woff2');
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./fonts/fonts/Gilroy-Semibold.woff2');
}



body {
    background: #FFFFFF;
    color: #000000;
    font-weight: 400;
}

.header {
    padding-top: 40px;
    padding-bottom: 84px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__menu {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.a__home {
    font-family: 'Gilroy-SemiBold';
    color: #F25822;
    margin-right: 40px;
}
.color__rest-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.color__rest-links a {
    font-family: 'Gilroy-Medium';
    color: #000000;
}


.main {
    margin-bottom: 162px;
}
.HeadingContent {
    display: flex;
    justify-content: space-between;
    gap: 39px;
}
.HeadingContent__leftSide {
    max-width: 522px;
    margin-bottom: 162px;
}
h1 {
    font-family: 'Gilroy-Bold';
}
.HeadingContent__leftSide h1 {
    font-size: 60px;
    margin-bottom: 17px;
}
.HeadingContent__leftSide p {
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    color: #888888;
    margin-bottom: 37px;
    max-width: 470px;
}

.btnOrange {
    font-family: 'Gilroy-Bold';
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    background: #F25822;
    border-radius: 50px;
    border: none;
    padding: 15px 36px;
    cursor: pointer;
}
.btnRight {
    color: #AAAAAA;
    border: none;
    background: #FFFFFF;
    padding-left: 72px;
}


.logotips {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}


.cardProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    opacity: 1;
    margin-bottom: 100px;
}
.card {
    padding: 40px, 30px, 25px, 30px;
    font-weight: 400;
}
.card h2 {
    margin-top: 25px;
    margin-bottom: 17px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 100%;
}
p {
    font-family: 'Gilroy-Regular';
}
.card p {
    font-size: 15px;
    line-height: 150%;
    color: #666;
    max-width: 310px;
}
h4 {
    font-family: 'Gilroy-Bold';
    font-size: 11px;
    line-height: 150%;
    margin-top: 25px;
}
.shadow {
    box-shadow: 15px 25px 56px 6px #0000000F;
}


.footer {
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.title {
    margin-top: 92px;
    margin-bottom: 31px;
    max-width: 682px;
}
.title h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 19px;
}
.title p {
    color: #666666;
    text-align: center;
    font-size: 16px;
}
.cardBlock__illustrate {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
}
.card__illustrate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card__illustrate h2 {
    margin: 25px 83px;
}
.card__illustrate p {
    color: #AAAAAA;
    margin-bottom: 39px;
    text-align: center;
    max-width: 320px;
    font-size: 15px;
    line-height: 150%;
}
.bS__illustrate::after {
    content: url('/img/iconPlay.svg');
    margin-left: 6px;
}
.bS__illustrate {
    font-size: 13px;
    margin-bottom: 50px;
}
.shadow2 {
    box-shadow: 15px 25px 60px -5px #0000001A;
}

